<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../styles/input-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../mixins/emisor-feedback-mixin.html">

<dom-module id="quizz-answer-form">
  <template>
    <style include="input-styles">
      :host {
        display: block;
        --paper-input-container-focus-color: orange;
      }
      .correcto {
        color: green
      }
      .incorrecto {
        color: red
      }
    </style>

    <input type="text" value="{{answer::input}}" class$="[[getInputClass(answer)]]">
    <paper-input label="Respuesta" value="{{answer}}"></paper-input>
    <paper-button on-click="altaRespuesta">Alta respuesta</paper-button>
    <!-- <button on-click="altaRespuesta">Alta de respuesta</button> -->

  </template>

  <script>
    /**
     * `quizz-answer-form` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class QuizzAnswerForm extends EmisorFeedbackMixin(Polymer.Element) {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'quizz-answer-form';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          answer: {
            type: String,
            value: 'valor'
          }
        };
      }

      getInputClass(answer) {
        if (answer.length > 3) {
          return 'correcto';
        }
        return 'incorrecto';
      }

      altaRespuesta() {
        if (this.answer == '') {
          this.feedbackNegativo('La respuesta está vacía!!')
          return false;
        }
        console.log('alta respuesta: ', this.answer);
        this.dispatchEvent(new CustomEvent('quizz-answer-form-create', {
          detail: this.answer
        }));
        this.feedbackPositivo('Vamos a darla de alta!!')
      }





    }

    window.customElements.define(QuizzAnswerForm.is, QuizzAnswerForm);
  </script>
</dom-module>