<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="quizz-answer">
  <template>
    <style>
      :host {
        display: block
      }
      .selected {
        background-color: red;
        color: white;
      }
    </style>

    <p class$="[[myClass]]" on-click="seleccionar">[[answer.id]] [[answer.text]]</p>
   
  </template>

  <script>
    /**
     * `quizz-answer` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class QuizzAnswer extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'quizz-answer';
      }

      /**
        * Array of strings describing multi-property observer methods and their
        * dependant properties
        */
      static get observers() {
        return [
          'answerSelectedChanged(answer.selected)'
        ];
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          answer: Object,
          myClass: String
        };
      }

      seleccionar() {
        //console.log('Han seleccionado: ', this.answer.id, this.answer.text);
        //this.set('answer.selected', !this.answer.selected)
        this.dispatchEvent(new CustomEvent('quizz-answer-selected-changed', {
          bubbles: true,
          composed: true,
          detail: this.answer
        })); // lanzo un evento personalizado para que miercoles-app se entere de que se ha seleccionado una respuesta (esto es lo correcto)
      }

      answerSelectedChanged(selected) {
        if (selected) {
          this.myClass = "selected";
        } else {
          this.myClass = "";
        }
      }
    }

    window.customElements.define(QuizzAnswer.is, QuizzAnswer);
  </script>
</dom-module>